__pycache__/

api/env
api/src

.env
dev.env
test.env

*.pyc

api/reviewer_api/logs

.vscode/

web/node_modules
web/build
# web/package-lock.json

*.snap

*/env
computingservices/poc/env/*
computingservices/DedupeServices/env/*


################################################################################
# The following is for file conversion
################################################################################

*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
build/
bld/
[Bb]in/
[Oo]bj/
.vs/

# Roslyn cache directories
*.ide/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
/MCS.FOI.S3FileConversion/MCS.FOI.S3FileConversion/obj
/.vs/slnx.sqlite
/.vs
/MCS.FOI.S3FileConversion/MCS.FOI.CalenderToPDF/bin/Debug/net6.0
/MCS.FOI.S3FileConversion/MCS.FOI.CalenderToPDF/obj
/MCS.FOI.S3FileConversion/MCS.FOI.ExcelToPDF/bin/Debug/net6.0
/MCS.FOI.S3FileConversion/MCS.FOI.ExcelToPDF/obj
/MCS.FOI.S3FileConversion/MCS.FOI.FileConversion/bin/Debug/net6.0
/MCS.FOI.S3FileConversion/MCS.FOI.ExcelToPDFUnitTests/bin/Debug/net6.0
/MCS.FOI.S3FileConversion/MCS.FOI.ExcelToPDFUnitTests/obj
/MCS.FOI.S3FileConversion/MCS.FOI.S3ExcelToPDF/bin/Debug/net6.0
/MCS.FOI.S3FileConversion/MCS.FOI.S3ExcelToPDF/obj
/MCS.FOI.S3FileConversion/MCS.FOI.FileConversion/bin/Debug/net6.0
/MCS.FOI.S3FileConversion/MCS.FOI.S3ExcelToPDFUnitTests/bin/Debug/net6.0
/MCS.FOI.S3FileConversion/MCS.FOI.S3ExcelToPDFUnitTests/obj
/MCS.FOI.S3FileConversion/.vs/MCS.FOI.S3FileConversion/v16/TestStore/0
/MCS.FOI.S3FileConversion/MCS.FOI.S3ExcelToPDFUnitTests/SourceExcel/output
/MCS.FOI.S3FileConversion/MCS.FOI.FileConversion/shareddoc
/MCS.FOI.S3FileConversion/MCS.FOI.CalenderToPDF.UnitTests/SharedLAN/Req1/output
/MCS.FOI.S3FileConversion/.vs/*
.vs\*
.vs
.suo
MCS.FOI.S3FileConversion/MCS.FOI.S3FileConversion/QtBinariesWindows/
