api/__pycache__/*.*
api/env/*
api/env/Lib/*
api/src/request_api/__pycache__/*
api/request_api/__pycache__/*
api/request_api/__pycache__/*.pyc
api/request_api/utils/__pycache__/*
api/request_api/__pycache__/*
api/request_api/__pycache__/__init__.cpython-38.pyc
api/request_api/resources/__pycache__/*.*
api/request_api/__pycache__/*.*
api/request_api/__pycache__/__init__.cpython-38.pyc
api/request_api/__pycache__/__init__.cpython-38.pyc
api/request_api/__pycache__/__init__.cpython-38.pyc
api/request_api/__pycache__/__init__.cpython-38.pyc
api/request_api/__pycache__/__init__.cpython-38.pyc
api/request_api/models/__pycache__/*.*
api/migrations/__pycache__/*.*
api/.env

*.pyc
*/__pycache__/*
api/request_api/__pycache__/*.pyc
api/request_api/__pycache__/__init__.cpython-38.pyc
api/request_api/__pycache__/__init__.cpython-38.pyc
api/request_api/__pycache__/__init__.cpython-38.pyc
api/request_api/logs/app.log
api/request_api/__pycache__/__init__.cpython-38.pyc
api/request_api/__pycache__/__init__.cpython-38.pyc
api/request_api/logs/*
api/request_api/__pycache__/__init__.cpython-38.pyc

web/node_modules


.vscode/settings.json
api/request_api/__pycache__/__init__.cpython-38.pyc
api/request_api/__pycache__/__init__.cpython-38.pyc
api/request_api/__pycache__/__init__.cpython-38.pyc
api/request_api/__pycache__/__init__.cpython-38.pyc
api/request_api/__pycache__/__init__.cpython-38.pyc


web/package-lock.json
api/request_api/__pycache__/__init__.cpython-38.pyc
api/request_api/__pycache__/__init__.cpython-38.pyc

api/src
api/request_api/__pycache__/__init__.cpython-38.pyc
api/request_api/__pycache__/__init__.cpython-38.pyc
api/request_api/__pycache__/__init__.cpython-38.pyc

.env
api/request_api/__pycache__/__init__.cpython-38.pyc
api/request_api/__pycache__/__init__.cpython-38.pyc

api/.localenv

api/request_api/__pycache__/__init__.cpython-38.pyc
api/request_api/__pycache__/__init__.cpython-38.pyc
api/request_api/__pycache__/__init__.cpython-38.pyc
api/request_api/__pycache__/__init__.cpython-38.pyc
api/request_api/__pycache__/__init__.cpython-38.pyc
api/request_api/__pycache__/__init__.cpython-38.pyc




