LOG_LEVEL=INFO

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

MESSAGING_STREAM_PREFIX=foi
OCR_TOPIC=ocr
MESSAGING_CONSUMER_GROUP=foi-ocr
OCR_CONSUMER_NAME=
MESSAGING_CLAIM_INTERVAL=30s
MESSAGING_CLAIM_MIN_IDLE=20m
MESSAGING_MAX_DELIVERY_ATTEMPTS=5
MESSAGING_SHUTDOWN_TIMEOUT=30s
OCR_PROCESSING_TIMEOUT=10m

OCR_DB_HOST=
OCR_DB_PORT=
OCR_DB_USER=
OCR_DB_PASSWORD=
OCR_DB_NAME=

ACTIVEMQ_URL=
ACTIVEMQ_USERNAME=
ACTIVEMQ_PASSWORD=
ACTIVEMQ_DESTINATION=foidococr

NOTIFICATION_STREAM_KEY=






