
.consult_public_body:disabled {
    color: #999999 !important;
    cursor: not-allowed !important;
}

.redline_for_sign_off:disabled {
    color: #999999 !important;
    cursor: not-allowed !important;
}

.redline_for_oipc:disabled {
    color: #999999 !important;
    cursor: not-allowed !important;
}

.final_package:disabled {
    color: #999999 !important;
    cursor: not-allowed !important;
}

.consult_package:disabled {
    color: #999999 !important;
    cursor: not-allowed !important;
}

.file-upload-toast {
    .Toastify__toast-body {
        > div:last-child {
            white-space: pre-line;
        }
    }
}

.redact-all-marked {
    display: none;
}

.redact-all-selected {
    display: none;
}

.clear-all-marked {
    display: none;
}

.PageRedactionModal .container .body .selection-options .ui__choice:nth-of-type(3),
.PageRedactionModal .container .body .selection-options .ui__choice:nth-of-type(4){
    display:none
}

.freetext-editor{
    visibility: hidden;
}

/* disable white color from Fill and Stroke of color pallete */
.cell-container[aria-label="Color 22"] {
    pointer-events: none;
    opacity: 0.5; 
  }