REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=

COMPRESSION_MESSAGING_MODE=legacy
COMPRESSION_WORKLOAD=normal
COMPRESSION_PROCESSING_TIMEOUT=15m
MESSAGING_STREAM_PREFIX=foi
COMPRESSION_TOPIC=compression
MESSAGING_CONSUMER_GROUP=foi-compression-normal
MESSAGING_CLAIM_INTERVAL=30s
MESSAGING_CLAIM_MIN_IDLE=17m
MESSAGING_MAX_DELIVERY_ATTEMPTS=5
MESSAGING_SHUTDOWN_TIMEOUT=25s
COMPRESSION_STREAM_KEY=FOICOMPRESSION-local-{add initials here}
COMPRESSION_CHECKPOINT_KEY=FOICOMPRESSION-CHECKPOINT-local-{add initials here}
COMPRESSION_DB_HOST=
COMPRESSION_DB_NAME=
COMPRESSION_DB_PORT=
COMPRESSION_DB_USER=
COMPRESSION_DB_PASSWORD=

COMPRESSION_S3_HOST=
COMPRESSION_S3_REGION=
COMPRESSION_S3_SERVICE=
COMPRESSION_S3_ENV=dev ## dev | test | prod  - this is as suffix on bucket name 

COMPRESSION_REQUEST_MANAGEMENT_API=
COMPRESSION_RECORD_FORMATS=

NOTIFICATION_STREAM_KEY=
HEALTH_CHECK_INTERVAL=15

OCR_STREAM_KEY=
